p {
  margin-bottom: 0 !important;
}

.navbar {
  background: #8DE1E0;
  padding: 0 10px 2.5px 10px !important;
  box-shadow: 0 0 1px 0 grey;
}

.navbar-logo {
  height: 40px;
}

.navbar-text {
  font-weight: 500;
}

.navbar-text-buttons {
  padding-top: 7px;
  padding-right: 10px;
}

.navbar-buttons {
  height: 35px;
}

.navbar-buttons-parent-left {
  padding-right: 4px !important;
  padding-top: 7px;
}

.navbar-buttons-parent-right {
  padding-left: 4px !important;
  padding-top: 7px;
}

.Card {
  outline-color: blue;
  display: inline-flex;
}

#handDiv {
  margin-top: 8vh;
}

.Hand {
  margin-bottom: 20px;
}

.Hand-Card {
  border-style: solid;
  border-width: 4px;
  border-radius: 10px;
  background: white;
  font-size: 24px;
  border-color: #414D56;
  padding: 10 20 20 10;
  padding: 40px 0 40px 0;
  display: inline-block;
  text-align: center;
}

.Card-1 {
  margin: 0px 20px 20px 0;
}

.Card-2 {
  margin: 0px 0 20px 20px;
}

.Card-3 {
  margin: 10px 20px 10px 0;
}

.Card-4 {
  margin: 10px 0 10px 20px;
}

.Card-5 {
  margin: 10px 20px 10px 0;
}

.Card-6 {
  margin: 10px 0 10px 20px;
}

.Card-7 {
  margin: 20px 20px 0 0;
}

.Card-8 {
  margin: 20px 0 0 20px;
}

#myPrivateIdeas {
  color: darkslategrey;
  font-weight: 400;
  margin-bottom: 10px;
}

#libraryContainer {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 3vh;
}

#libraryParentDiv {
  padding: 0;
  margin: 0;
}

#libraryParentToast {
  max-width: none;
}

#libraryHeaderToast {

}

#libraryBodyToast {

}

#login-background {
  background-image: url('./img/login-background.png');
  height: 679px;
}
