@font-face {
    font-family: Gravity;
    src: url("../src/fonts/Gravity-Bold.otf") format("woff"), url("../src/fonts/Gravity-Bold.otf")  format("truetype");
}

p {
  margin-bottom: 0 !important;
}

.navbar {
  background: #8DE1E0;
  padding: 0 10px 2.5px 10px !important;
  box-shadow: 0 0 1px 0 grey;
}

.navbar-logo {
  height: 40px;
}

.navbar-text {
  font-weight: 500;
}

.navbar-text-buttons {
  padding-top: 5px;
  padding-right: 10px;
}

.navbar-buttons {
  height: 35px;
}

.navbar-buttons-parent-left {
  padding-right: 4px !important;
  padding-top: 7px;
}

.navbar-buttons-parent-right {
  padding-left: 4px !important;
  padding-top: 7px;
}

.Card {
  outline-color: blue;
  display: inline-flex;
}

#handDiv {
  margin-top: 8vh;
}

.Hand {
  margin-bottom: 20px;
}

.Hand-Card {
  border-style: solid;
  border-width: 4px;
  border-radius: 10px;
  background: white;
  font-size: 24px;
  border-color: #414D56;
  padding: 10 20 20 10;
  padding: 40px 0 40px 0;
  display: inline-block;
  text-align: center;
}

.Card-1 {
  margin: 0px 20px 20px 0;
}

.Card-2 {
  margin: 0px 0 20px 20px;
}

.Card-3 {
  margin: 10px 20px 10px 0;
}

.Card-4 {
  margin: 10px 0 10px 20px;
}

.Card-5 {
  margin: 10px 20px 10px 0;
}

.Card-6 {
  margin: 10px 0 10px 20px;
}

.Card-7 {
  margin: 20px 20px 0 0;
}

.Card-8 {
  margin: 20px 0 0 20px;
}

#myPrivateIdeas {
  color: darkslategrey;
  font-weight: 400;
  margin-bottom: 10px;
}

#libraryContainer {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 3vh;
}

#libraryParentDiv {
  padding: 0;
  margin: 0;
}

#libraryParentToast {
  max-width: none;
}

#libraryHeaderToast {

}

#libraryBodyToast {

}

#login-container {
  margin-left: 16.75%;
  margin-right: 16.75%;
  margin-top: 3vh;
  margin-bottom: 3vh;
  display: flex;
  position: absolute;
  height: 80%;
}

#login-container-left-child {
  padding: 0;
  background-color: white;
  border-radius: 10px 0 0 10px;
}

#login-container-right-child {
  padding: 0;
  background: linear-gradient(180deg, rgba(255,128,109,1) 0%, rgba(251,203,66,1) 100%);
  background-size: 100% 100%;
  border-radius: 0 10px 10px 0;
}

#login-form {
  margin-left: 8.5%;
  padding: 0;
}

#login-form-children {
  max-width: 90%;
  color: silver;
  padding-bottom: 3px;
}

#login-top-row {
  padding: 0 40px;
  margin: 40% 0 0 0;
}

#login-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10vh;
  width: 70%;
  height: 75%;
}

#login-title {
  margin-top: 15vh;
  margin-bottom: 1vh;
  margin-left: 12.5%;
  margin-right: 12.5%;
}

#exampleEmail::placeholder {
  color: silver;
}

#exampleEmail:-ms-input-placeholder  {
  color: silver;
}

#exampleEmail::-ms-input-placeholder {
  color: silver;
}

#examplePassword::placeholder {
  color: silver;
}

#examplePassword:-ms-input-placeholder  {
  color: silver;
}

#examplePassword::-ms-input-placeholder {
  color: silver;
}

.form-control {
  padding: 1.6rem .75rem !important;
}

.form-group {
  margin-bottom: 0 !important;
}

#or-use-text {
  text-align: center;
  padding-top: 5px;
  color: silver;
}

#social-media-logins-parent {
  text-align: center;
}

#social-media-logins-child {
  padding: 5px;
}

#login-signin-button-parent {
  text-align: center;
}

#login-signin-button {
  margin: 20px;
  padding: .5rem 1.75rem;
  border-radius: 2rem;
  border: none;
  font-weight: 600;
  font-size: 16px;
  font-family: Segoe UI;
  background: linear-gradient(90deg, rgba(255,128,109,1) 0%, rgba(251,203,66,1) 100%);
}
